Repository boostcamp-2020/IssueTracker-15, pull requests merged in 2020-10, with the labels that each got.

#4 gitignore 추가
  iOS/.gitignore
Labels: configure

#14 SwiftLint 적용
  iOS/IssueTracker/.swiftlint.yml
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker.xcworkspace/contents.xcworkspacedata
  iOS/IssueTracker/IssueTracker.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  iOS/IssueTracker/Podfile
  iOS/IssueTracker/Podfile.lock
Labels: configure, iOS

#13 configure : ⚡ backend 환경설정
  web/server/.gitignore
  web/server/nodemon.json
  web/server/package-lock.json
  web/server/package.json
  web/server/src/index.ts
  web/server/tsconfig.json
Labels: backend, configure

#15 swiftGen 라이브러리 적용
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker.xcodeproj/xcshareddata/xcschemes/IssueTracker.xcscheme
  iOS/IssueTracker/Podfile
  iOS/IssueTracker/Podfile.lock
Labels: configure, iOS

#20 Tabbar 컨트롤러 구현
  iOS/IssueTracker/IssueTracker/Base.lproj/Main.storyboard
Labels: enhancement, iOS

#22 레이블 목록 UI 정리 완료
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/Base.lproj/Main.storyboard
  iOS/IssueTracker/IssueTracker/Extensions/String+Color.swift
  iOS/IssueTracker/IssueTracker/Label/Model/Label.swift
  iOS/IssueTracker/IssueTracker/Label/View/LabelCell/LabelCell+CollectionView.swift
  iOS/IssueTracker/IssueTracker/Label/View/LabelCell/LabelCellView.swift
  iOS/IssueTracker/IssueTracker/Label/View/LabelCell/LabelCellView.xib
  iOS/IssueTracker/IssueTracker/Label/View/LabelHeader/LabelHeader+CollectionView.swift
  iOS/IssueTracker/IssueTracker/Label/View/LabelHeader/LabelHeaderView.swift
  iOS/IssueTracker/IssueTracker/Label/View/LabelHeader/LabelHeaderView.xib
  iOS/IssueTracker/IssueTracker/Label/View/LabelListViewController.swift
  iOS/IssueTracker/IssueTracker/LabelListViewController.swift
  iOS/IssueTracker/IssueTracker/Supports/AppDelegate.swift
  iOS/IssueTracker/IssueTracker/Supports/Assets.xcassets/AppIcon.appiconset/Contents.json
  iOS/IssueTracker/IssueTracker/Supports/Assets.xcassets/Contents.json
  iOS/IssueTracker/IssueTracker/Supports/Base.lproj/LaunchScreen.storyboard
  iOS/IssueTracker/IssueTracker/Supports/Info.plist
  iOS/IssueTracker/IssueTracker/Supports/SceneDelegate.swift
Labels: enhancement, iOS

#34 테스트코드 수정 및 코드 컨벤션 정리
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/Base.lproj/Main.storyboard
  iOS/IssueTracker/IssueTracker/Extensions/String+Color.swift
  iOS/IssueTracker/IssueTracker/Label/View/LabelCell/LabelCell+CollectionView.swift
  iOS/IssueTracker/IssueTracker/Label/View/LabelHeader/LabelHeader+CollectionView.swift
  iOS/IssueTracker/IssueTracker/Supports/AppDelegate.swift
  iOS/IssueTracker/IssueTracker/Supports/SceneDelegate.swift
  iOS/IssueTracker/IssueTrackerTests/ColorConvertTests.swift
  iOS/IssueTracker/IssueTrackerTests/LabelModelTests.swift
Labels: iOS

#39 SubmitFormView 구성
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/Label/Form/LabelSubmitFormView.swift
  iOS/IssueTracker/IssueTracker/Label/Form/LabelSubmitFormView.xib
Labels: Merge: Feature, iOS 🍎

#40 eslint, prettier 설정
  web/server/.eslintrc.json
  web/server/package-lock.json
  web/server/package.json
Labels: BE 🧑🏻‍💻, Merge: Dev, configure ⚙

#41 BadgeLabelView 추가
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/CustomUI/BadgeLabelView.swift
  iOS/IssueTracker/IssueTracker/Label/View/LabelCell/LabelCellView.swift
  iOS/IssueTracker/IssueTracker/Label/View/LabelCell/LabelCellView.xib
Labels: Feature 🎨, Merge: Dev, iOS 🍎

#43 Web - 프로젝트 디렉토리 결정
  web/server/src/config/index.ts
  web/server/src/loaders/index.ts
  web/server/src/models/index.ts
  web/server/src/routers/index.ts
  web/server/src/services/index.ts
  web/server/src/types/index.ts
  web/server/tests/index.ts
Labels: BE 🧑🏻‍💻, Merge: Dev

#44 merge ios/feature/add-label to dev
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/Label/Form/LabelSubmitFormView.swift
  iOS/IssueTracker/IssueTracker/Label/Form/LabelSubmitFormView.xib
Labels: Merge: Dev, iOS 🍎

#45 xcode project파일 오류 해결
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
Labels: Merge: Dev, iOS 🍎

#48 LabelListCollectionView MVVM으로 변경
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/Label/View/Form/LabelSubmitFormView.swift
  iOS/IssueTracker/IssueTracker/Label/View/Form/LabelSubmitFormView.xib
  iOS/IssueTracker/IssueTracker/Label/View/LabelCell/LabelCellView.swift
  iOS/IssueTracker/IssueTracker/Label/View/LabelHeader/LabelHeaderView.swift
  iOS/IssueTracker/IssueTracker/Label/View/LabelListViewController.swift
  iOS/IssueTracker/IssueTracker/Label/ViewModel/LabelItemViewModel.swift
  iOS/IssueTracker/IssueTracker/Label/ViewModel/LabelListViewModel.swift
  iOS/IssueTracker/IssueTracker/Label/ViewModel/LabelsViewModel.swift
Labels: Merge: Dev, iOS 🍎

#50 Feature router
  web/server/nodemon.json
  web/server/package-lock.json
  web/server/package.json
  web/server/src/app.ts
  web/server/src/index.ts
  web/server/src/loaders/express.ts
  web/server/src/loaders/index.ts
  web/server/src/routers/auth/index.ts
  web/server/src/routers/auth/sign-in.ts
  web/server/src/routers/auth/sign-up.ts
  web/server/src/routers/comment.ts
  web/server/src/routers/index.ts
  web/server/src/routers/issue.ts
  web/server/src/routers/label.ts
  web/server/src/routers/milestone.ts
Labels: Merge: Dev

#51 레이블 화면 구현 완료
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/Label/View/Form/LabelSubmitFormView.swift
  iOS/IssueTracker/IssueTracker/Label/ViewModel/LabelListViewModel.swift
  iOS/IssueTracker/IssueTracker/LabelScene/Model/Label.swift
  iOS/IssueTracker/IssueTracker/LabelScene/View/Form/LabelSubmitFormView.swift
  iOS/IssueTracker/IssueTracker/LabelScene/View/Form/LabelSubmitFormView.xib
  iOS/IssueTracker/IssueTracker/LabelScene/View/Form/LableSubmitForm+Nibload.swift
  iOS/IssueTracker/IssueTracker/LabelScene/View/LabelCell/LabelCell+CollectionView.swift
  iOS/IssueTracker/IssueTracker/LabelScene/View/LabelCell/LabelCellView.swift
  iOS/IssueTracker/IssueTracker/LabelScene/View/LabelCell/LabelCellView.xib
  iOS/IssueTracker/IssueTracker/LabelScene/View/LabelHeader/LabelHeader+CollectionView.swift
  iOS/IssueTracker/IssueTracker/LabelScene/View/LabelHeader/LabelHeaderView.swift
  iOS/IssueTracker/IssueTracker/LabelScene/View/LabelHeader/LabelHeaderView.xib
  iOS/IssueTracker/IssueTracker/LabelScene/View/LabelListViewController.swift
  iOS/IssueTracker/IssueTracker/LabelScene/ViewModel/LabelItemViewModel.swift
  iOS/IssueTracker/IssueTracker/LabelScene/ViewModel/LabelListViewModel.swift
Labels: Feature 🎨, Merge: Dev, iOS 🍎

#89 레이블 수정/추가 화면 키보드가 textField 가리는 문제 해결
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/LabelScene/View/Form/LabelSubmitForm+Keyboard.swift
  iOS/IssueTracker/IssueTracker/LabelScene/View/Form/LabelSubmitFormView.swift
  iOS/IssueTracker/IssueTracker/LabelScene/View/LabelListViewController.swift
Labels: Merge: Dev, iOS 🍎

#91 LabelListViewController Test 가능한 구조 설계 및 테스트
  iOS/IssueTracker/.swiftlint.yml
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/Base.lproj/Main.storyboard
  iOS/IssueTracker/IssueTracker/LabelScene/View/LabelListViewController.swift
  iOS/IssueTracker/IssueTrackerTests/Mocks/LabelListViewModelMock.swift
  iOS/IssueTracker/IssueTrackerTests/Tests/ColorConvertTests.swift
  iOS/IssueTracker/IssueTrackerTests/Tests/LabelListViewControllerTests.swift
  iOS/IssueTracker/IssueTrackerTests/Tests/LabelModelTests.swift
Labels: Merge: Dev, Test :test_tube:, iOS 🍎

#92 LabelCellView LabelSubmitFormView Test 추가
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker.xcodeproj/xcshareddata/xcschemes/IssueTracker.xcscheme
  iOS/IssueTracker/IssueTrackerTests/Mocks/LabelListViewModelMock.swift
  iOS/IssueTracker/IssueTrackerTests/Tests/LabelCellViewTest.swift
  iOS/IssueTracker/IssueTrackerTests/Tests/LabelListViewControllerTests.swift
  iOS/IssueTracker/IssueTrackerTests/Tests/LabelSubmitFormViewTests.swift
Labels: Merge: Dev, Test :test_tube:, iOS 🍎

#93 Feature entity 생성 및 관계 정의
  web/server/.dummy.env
  web/server/src/app.ts
  web/server/src/entity/assignees.entity.ts
  web/server/src/entity/comment.entity.ts
  web/server/src/entity/emoji.entity.ts
  web/server/src/entity/issue-label.entity.ts
  web/server/src/entity/issue.entity.ts
  web/server/src/entity/label.entity.ts
  web/server/src/entity/milestone.entity.ts
  web/server/src/entity/user.entity.ts
  web/server/src/loaders/databse.ts
  web/server/src/loaders/express.ts
  web/server/src/models/comment.ts
  web/server/src/models/emoji.ts
  web/server/src/models/index.ts
  web/server/src/models/issue.ts
  web/server/src/models/label.ts
  web/server/src/models/milestone.ts
  web/server/src/models/user.ts
  web/server/tsconfig.json
Labels: BE 🧑🏻‍💻, database📠

#96 fix : :fire: entity 정의 및 관계 수정
  web/server/src/entity/assignees.entity.ts
  web/server/src/entity/comment.entity.ts
  web/server/src/entity/emoji.entity.ts
  web/server/src/entity/issue-label.entity.ts
  web/server/src/entity/issue.entity.ts
  web/server/src/entity/label.entity.ts
  web/server/src/entity/milestone.entity.ts
  web/server/src/entity/user.entity.ts
  web/server/tsconfig.json
Labels: BE 🧑🏻‍💻, Merge: Feature, database📠

#97 Feature entity
  web/server/.dummy.env
  web/server/.gitignore
  web/server/package-lock.json
  web/server/package.json
  web/server/src/app.ts
  web/server/src/config/index.ts
  web/server/src/entity/assignees.entity.ts
  web/server/src/entity/comment.entity.ts
  web/server/src/entity/issue-label.entity.ts
  web/server/src/entity/issue.entity.ts
  web/server/src/entity/label.entity.ts
  web/server/src/entity/milestone.entity.ts
  web/server/src/entity/user.entity.ts
  web/server/src/loaders/databse.ts
  web/server/src/loaders/express.ts
  web/server/src/models/index.ts
  web/server/tsconfig.json
Labels: BE 🧑🏻‍💻, Merge: Dev, database📠

#101 Feature issue api
  web/server/src/app.ts
  web/server/src/entity/issue.entity.ts
  web/server/src/loaders/express.ts
  web/server/src/routers/issue.ts
  web/server/src/services/issue.service.ts
  web/server/src/types/issue.types.ts
Labels: BE 🧑🏻‍💻, Feature 🎨, Merge: Dev

#99 API POST /api/label
  web/server/src/routers/label.ts
  web/server/src/services/index.ts
  web/server/src/services/label.ts
  web/server/src/types/index.ts
  web/server/src/types/label.type.ts
Labels: BE 🧑🏻‍💻, Feature 🎨

#102 Merge feature-label-api <- feature-label-api-moai
  web/server/src/routers/label.ts
  web/server/src/services/index.ts
  web/server/src/services/label.ts
  web/server/src/types/index.ts
  web/server/src/types/label.type.ts
Labels: BE 🧑🏻‍💻

#103 Merge dev <- feature-labelAPI
  web/server/src/routers/label.ts
  web/server/src/services/index.ts
  web/server/src/services/label.ts
  web/server/src/types/index.ts
  web/server/src/types/label.type.ts
Labels: BE 🧑🏻‍💻, Merge: Dev

#105 Refactor: Airbnb Lint 룰에 따라서 리팩토링
  web/server/.eslintrc.json
  web/server/package-lock.json
  web/server/package.json
  web/server/src/app.ts
  web/server/src/config/index.ts
  web/server/src/entity/assignees.entity.ts
  web/server/src/entity/comment.entity.ts
  web/server/src/entity/issue-label.entity.ts
  web/server/src/entity/issue.entity.ts
  web/server/src/entity/label.entity.ts
  web/server/src/entity/milestone.entity.ts
  web/server/src/entity/user.entity.ts
  web/server/src/loaders/database.ts
  web/server/src/loaders/express.ts
  web/server/src/loaders/index.ts
  web/server/src/routers/auth/index.ts
  web/server/src/routers/auth/sign-in.ts
  web/server/src/routers/auth/sign-up.ts
  web/server/src/routers/comment.ts
  web/server/src/routers/index.ts
  web/server/src/routers/issue.ts
  web/server/src/routers/label.ts
  web/server/src/routers/milestone.ts
  web/server/src/services/index.ts
  web/server/src/services/issue.service.ts
  web/server/src/services/label.ts
  web/server/src/types/index.ts
  web/server/src/types/label.type.ts
Labels: BE 🧑🏻‍💻, Merge: Dev, Refactoring ✒

#106 삭제되지 않은 불필요 파일 정리
  iOS/IssueTracker/IssueTrackerTests/IssueTrackerTests.swift
Labels: Merge: Release, iOS 🍎

#111 submitButtonTapped 변수 이름 변경
  iOS/IssueTracker/IssueTracker/02.LabelScene/View/LabelListViewController.swift
  iOS/IssueTracker/IssueTracker/02.LabelScene/View/SubmitForm/LabelSubmitFormView.swift
Labels: Merge: Dev-iOS, Refactoring ✒, iOS 🍎

#113 UILabel+ autoResizeFontWithHeight
  iOS/IssueTracker/IssueTracker/03.MilestoneScene/View/MilestoneCell/MilestoneCellView.swift
  iOS/IssueTracker/IssueTracker/05.CustomUI/BadgeLabelView.swift
  iOS/IssueTracker/IssueTracker/06.Extensions/UILabel+FontSize.swift
Labels: Feature 🎨, Merge: Dev-iOS

#114 keyboard에 따른 view위치 조정 기능, showAlert 함수 기능 일부 변경
  iOS/IssueTracker/IssueTracker/02.LabelScene/View/SubmitForm/LabelSubmitForm+Keyboard.swift
  iOS/IssueTracker/IssueTracker/02.LabelScene/View/SubmitForm/LabelSubmitFormView.swift
  iOS/IssueTracker/IssueTracker/03.MilestoneScene/SubmitForm/MilestoneSubmitForm+Keyboard.swift
  iOS/IssueTracker/IssueTracker/03.MilestoneScene/SubmitForm/MilestoneSubmitFormView.swift
  iOS/IssueTracker/IssueTracker/06.Extensions/UIView+ShowAlert.swift
Labels: Merge: Dev-iOS, Refactoring ✒, iOS 🍎

#116 layoutSubview에서 bounds 호출하던 문제 해결
  iOS/IssueTracker/IssueTracker/05.CustomUI/BadgeLabelView.swift
Labels: Bug 🐞, Merge: Dev-iOS
