Repository boostcamp-2020/IssueTracker-15, pull requests merged in 2020-11, with the labels that each got.

#117 Label/Milestone 공통 속성을 바탕으로 통합
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/02.LabelScene/View/LabelListViewController.swift
  iOS/IssueTracker/IssueTracker/02.LabelScene/View/SubmitFields/LabelSubmitFieldsView+LoadFromNib.swift
  iOS/IssueTracker/IssueTracker/02.LabelScene/View/SubmitFields/LabelSubmitFieldsView.swift
  iOS/IssueTracker/IssueTracker/02.LabelScene/View/SubmitFields/LabelSubmitFieldsView.xib
  iOS/IssueTracker/IssueTracker/02.LabelScene/View/SubmitForm/LabelSubmitForm+Keyboard.swift
  iOS/IssueTracker/IssueTracker/02.LabelScene/View/SubmitForm/LabelSubmitFormView.swift
  iOS/IssueTracker/IssueTracker/02.LabelScene/View/SubmitForm/LabelSubmitFormView.xib
  iOS/IssueTracker/IssueTracker/02.LabelScene/View/SubmitForm/LableSubmitForm+Nibload.swift
  iOS/IssueTracker/IssueTracker/03.MilestoneScene/SubmitFields/MilestoneSubmitFieldsView+LoadFromNib.swift
  iOS/IssueTracker/IssueTracker/03.MilestoneScene/SubmitFields/MilestoneSubmitFieldsView.swift
  iOS/IssueTracker/IssueTracker/03.MilestoneScene/SubmitFields/MilestoneSubmitFieldsView.xib
  iOS/IssueTracker/IssueTracker/03.MilestoneScene/SubmitForm/MilestoneSubmitForm+Keyboard.swift
  iOS/IssueTracker/IssueTracker/03.MilestoneScene/SubmitForm/MilestoneSubmitForm+NibLoad.swift
  iOS/IssueTracker/IssueTracker/03.MilestoneScene/SubmitForm/MilestoneSubmitFormView.swift
  iOS/IssueTracker/IssueTracker/03.MilestoneScene/SubmitForm/MilestoneSubmitFormView.xib
  iOS/IssueTracker/IssueTracker/03.MilestoneScene/View/MilestoneListViewController.swift
  iOS/IssueTracker/IssueTracker/05.CustomUI/SubmitFields/SubmitFieldProtocol.swift
  iOS/IssueTracker/IssueTracker/05.CustomUI/SubmitForm/SubmitFormView+LoadFromNib.swift
  iOS/IssueTracker/IssueTracker/05.CustomUI/SubmitForm/SubmitFormView.swift
  iOS/IssueTracker/IssueTracker/05.CustomUI/SubmitForm/SubmitFormView.xib
Labels: 0_Merge: Dev-iOS, Refactoring ✒

#119 label/milestone header hig ux를 준수하도록 변경
  iOS/IssueTracker/IssueTracker/00.MainTabBarScene/MainTabBarController.swift
  iOS/IssueTracker/IssueTracker/02.LabelScene/View/LabelListViewController.swift
  iOS/IssueTracker/IssueTracker/03.MilestoneScene/View/MilestoneListViewController.swift
  iOS/IssueTracker/IssueTracker/Base.lproj/Main.storyboard
Labels: 0_Merge: Dev-iOS, Refactoring ✒

#123 IssueList Cell 추가
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/00.MainTabBarScene/MainTabBarController.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/Model/Issue.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/View/IssueCellView/IssueCellView.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/View/IssueCellView/IssueCellView.xib
  iOS/IssueTracker/IssueTracker/01.IssueScene/View/IssueListViewController.swift
  iOS/IssueTracker/IssueTracker/02.LabelScene/View/LabelCell/LabelCellView.swift
  iOS/IssueTracker/IssueTracker/05.CustomUI/BadgeLabelView.swift
  iOS/IssueTracker/IssueTracker/06.Extensions/Int+Clamp.swift
  iOS/IssueTracker/IssueTracker/06.Extensions/String+Regex.swift
  iOS/IssueTracker/IssueTracker/06.Extensions/UILabel+FontSize.swift
  iOS/IssueTracker/IssueTracker/Base.lproj/Main.storyboard
  iOS/IssueTracker/IssueTracker/SceneDelegate.swift
Labels: 0_Merge: Dev-iOS, Feature 🎨, iOS 🍎

#128 Milestone Create, Delete, Update API 구현
  web/server/package-lock.json
  web/server/src/entity/comment.entity.ts
  web/server/src/entity/issue.entity.ts
  web/server/src/routers/milestone.ts
  web/server/src/services/milestone.service.ts
  web/server/src/types/milestone.types.ts
Labels: 0_Merge: Dev-Web, BE 🧑🏻‍💻, Feature 🎨

#131 Feature/web/issue api
  web/server/.eslintrc.json
  web/server/package-lock.json
  web/server/package.json
  web/server/src/app.ts
  web/server/src/routers/issue.ts
  web/server/src/services/issue.service.ts
  web/server/src/types/issue.types.ts
  web/server/src/types/issue/create-issue.ts
  web/server/src/types/issue/index.ts
  web/server/src/types/issue/udpate-issue-content.ts
  web/server/src/types/issue/update-issue-title.ts
Labels: 0_Merge: Dev-Web, BE 🧑🏻‍💻, Feature 🎨

#132 Test 환경 설정
  web/server/jest.config.js
  web/server/package-lock.json
  web/server/package.json
  web/server/src/app.ts
  web/server/src/lib/disconnectDB.ts
  web/server/tests/index.ts
  web/server/tests/label/label.test.ts
Labels: 0_Merge: Dev-Web, BE 🧑🏻‍💻, Configure ⚙

#138 Feature/api/issue api namda
  web/server/src/routers/issue.ts
  web/server/src/services/issue.service.ts
Labels: 0_Merge: Feature, BE 🧑🏻‍💻, Refactoring ✒

#135 Label API 완성
  web/server/src/routers/label.ts
  web/server/src/services/index.ts
  web/server/src/services/label.service.ts
  web/server/src/services/label.ts
  web/server/src/types/label.type.ts
Labels: 0_Merge: Dev-Web, BE 🧑🏻‍💻, Feature 🎨

#136 API : POST /api/comment
  web/server/src/routers/comment.ts
  web/server/src/services/comment.service.ts
Labels: 0_Merge: Dev-Web, BE 🧑🏻‍💻, Feature 🎨

#137 Insert milestone API 응답 변경, Get milestone api 구현, 요청 성공시 상태코드 변경
  web/server/src/routers/milestone.ts
  web/server/src/services/milestone.service.ts
Labels: 0_Merge: Dev-Web, BE 🧑🏻‍💻, Feature 🎨, database📠

#140 Feature/api/issue api
  web/server/src/routers/issue.ts
  web/server/src/services/issue.service.ts
Labels: 0_Merge: Dev-Web, BE 🧑🏻‍💻, Refactoring ✒

#139 로컬 로그인, 로컬 회원가입 작성
  web/server/.dummy.env
  web/server/package-lock.json
  web/server/package.json
  web/server/src/lib/encryption.ts
  web/server/src/lib/passport/index.ts
  web/server/src/lib/passport/jwt.ts
  web/server/src/lib/passport/local.ts
  web/server/src/lib/token.ts
  web/server/src/loaders/express.ts
  web/server/src/loaders/index.ts
  web/server/src/loaders/passport.ts
  web/server/src/middlewares/passport.ts
  web/server/src/routers/auth/index.ts
  web/server/src/routers/auth/sign-in.ts
  web/server/src/routers/auth/sign-up.ts
  web/server/src/routers/index.ts
  web/server/src/routers/user.ts
  web/server/src/services/auth.ts
  web/server/src/services/user.service.ts
  web/server/src/types/sign-up.type.ts
Labels: 0_Merge: Dev-Web, BE 🧑🏻‍💻, Feature 🎨

#143 Feature/networkframework
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker.xcodeproj/xcshareddata/xcschemes/IssueTracker.xcscheme
  iOS/IssueTracker/IssueTracker/02.LabelScene/Model/Label.swift
  iOS/IssueTracker/IssueTracker/02.LabelScene/ViewModel/LabelListViewModel.swift
  iOS/IssueTracker/IssueTracker/03.MilestoneScene/Model/Milestone.swift
  iOS/IssueTracker/IssueTracker/04.Models/Issue.swift
  iOS/IssueTracker/IssueTracker/04.Models/Label.swift
  iOS/IssueTracker/IssueTracker/04.Models/Milestone.swift
  iOS/IssueTracker/IssueTracker/06.Extensions/CGFloat+Clamp.swift
  iOS/IssueTracker/IssueTracker/06.Extensions/JSONDecoder+Decode.swift
  iOS/IssueTracker/IssueTracker/07.Supports/Info.plist
  iOS/IssueTracker/IssueTracker/08.Endpoints/LabelEndPoint.swift
  iOS/IssueTracker/IssueTracker/08.Endpoints/MilestoneEndPoint.swift
  iOS/IssueTracker/IssueTracker/SceneDelegate.swift
  iOS/IssueTracker/NetworkFramework/DataLoader.swift
  iOS/IssueTracker/NetworkFramework/Info.plist
  iOS/IssueTracker/NetworkFramework/NetworkFramework.h
  iOS/IssueTracker/NetworkFrameworkTests/Info.plist
  iOS/IssueTracker/NetworkFrameworkTests/NetworkFrameworkTests.swift
Labels: 0_Merge: Dev-iOS, Feature 🎨, iOS 🍎

#142 New Issue 등록화면 구현
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/01.IssueScene/View/AddNewIssueViewController.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/View/IssueListViewController.swift
  iOS/IssueTracker/IssueTracker/Base.lproj/Main.storyboard
Labels: 0_Merge: Dev-iOS, Feature 🎨, iOS 🍎

#141 Issue Filter View 구현
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/01.IssueScene/FilterScene/DetailConditionCells/ConditionCellView.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/FilterScene/DetailConditionCells/Label/LabelConditionCellView.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/FilterScene/DetailConditionCells/Label/LabelConditionCellView.xib
  iOS/IssueTracker/IssueTracker/01.IssueScene/FilterScene/DetailConditionCells/Milestone/MilestoneConditionCellView.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/FilterScene/DetailConditionCells/Milestone/MilestoneConditionCellView.xib
  iOS/IssueTracker/IssueTracker/01.IssueScene/FilterScene/DetailConditionCells/User/UserConditionCellView.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/FilterScene/DetailConditionCells/User/UserConditionCellView.xib
  iOS/IssueTracker/IssueTracker/01.IssueScene/FilterScene/DetailConditionFilterViewController.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/FilterScene/DetailConditionFilterViewController.xib
  iOS/IssueTracker/IssueTracker/01.IssueScene/FilterScene/IssueFilterViewController.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/FilterScene/ViewModel/ConditionCellViewModel.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/View/IssueCellView/IssueCellView.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/View/IssueCellView/IssueCellView.xib
  iOS/IssueTracker/IssueTracker/01.IssueScene/View/IssueListViewController.swift
  iOS/IssueTracker/IssueTracker/02.LabelScene/View/LabelCell/LabelCellView.xib
  iOS/IssueTracker/IssueTracker/02.LabelScene/ViewModel/LabelListViewModel.swift
  iOS/IssueTracker/IssueTracker/03.MilestoneScene/ViewModel/MilestoneListViewModel.swift
  iOS/IssueTracker/IssueTracker/06.Extensions/Date+.swift
  iOS/IssueTracker/IssueTracker/06.Extensions/DateFormatter+.swift
  iOS/IssueTracker/IssueTracker/06.Extensions/UITableView+.swift
  iOS/IssueTracker/IssueTracker/Base.lproj/Main.storyboard
Labels: 0_Merge: Dev-iOS, Feature 🎨

#145 webpack, babel , react init
  web/client/.babelrc
  web/client/.gitignore
  web/client/package-lock.json
  web/client/package.json
  web/client/src/components/app.tsx
  web/client/src/index.html
  web/client/src/index.tsx
  web/client/tsconfig.json
  web/client/webpack.config.js
Labels: 0_Merge: Dev-Web, Configure ⚙, FE 💻

#148 Feature/web/issue api namda
  web/server/src/lib/make-issue-template.ts
  web/server/src/routers/issue.ts
  web/server/src/services/comment.service.ts
  web/server/src/services/issue.service.ts
  web/server/src/services/label.service.ts
  web/server/src/services/user.service.ts
Labels: 0_Merge: Feature, BE 🧑🏻‍💻, Feature 🎨

#151 refactor
  web/server/src/lib/make-issue-template.ts
Labels: 0_Merge: Feature, BE 🧑🏻‍💻, Refactoring ✒

#149 Feature/web/issue api
  web/server/src/lib/make-issue-template.ts
  web/server/src/routers/issue.ts
  web/server/src/services/comment.service.ts
  web/server/src/services/issue.service.ts
  web/server/src/services/label.service.ts
  web/server/src/services/user.service.ts
Labels: 0_Merge: Dev-Web, BE 🧑🏻‍💻, Feature 🎨

#150 코드 MARK 주석 통일, showSubmitForm Enum 추가
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/02.LabelScene/View/LabelCell/LabelCellView.swift
  iOS/IssueTracker/IssueTracker/02.LabelScene/View/LabelCell/LabelCellView.xib
  iOS/IssueTracker/IssueTracker/02.LabelScene/View/LabelListViewController.swift
  iOS/IssueTracker/IssueTracker/02.LabelScene/View/SubmitFields/LabelSubmitFieldsView.swift
  iOS/IssueTracker/IssueTracker/03.MilestoneScene/SubmitFields/MilestoneSubmitFieldsView.swift
  iOS/IssueTracker/IssueTracker/03.MilestoneScene/View/MilestoneCell/MilestoneCellView.swift
  iOS/IssueTracker/IssueTracker/03.MilestoneScene/View/MilestoneListViewController.swift
  iOS/IssueTracker/IssueTracker/05.CustomUI/Header/Header+CollectionView.swift
  iOS/IssueTracker/IssueTracker/05.CustomUI/Header/HeaderView.swift
  iOS/IssueTracker/IssueTracker/05.CustomUI/Header/HeaderView.xib
  iOS/IssueTracker/IssueTracker/05.CustomUI/SubmitForm/SubmitFormView.swift
  iOS/IssueTracker/IssueTracker/06.Extensions/CollectionView+Registerable.swift
  iOS/IssueTracker/IssueTracker/06.Extensions/UITableView+Registerable.swift
Labels: 0_Merge: Dev-iOS, Refactoring ✒

#152 마일스톤 네트워크 레이어 적용
  iOS/IssueTracker/.swiftlint.yml
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/00.MainTabBarScene/MainTabBarController.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/FilterScene/DetailConditionCells/Milestone/MilestoneConditionCellView.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/FilterScene/DetailConditionFilterViewController.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/FilterScene/ViewModel/ConditionCellViewModel.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/View/IssueListViewController.swift
  iOS/IssueTracker/IssueTracker/02.LabelScene/View/SubmitFields/LabelSubmitFieldsView.swift
  iOS/IssueTracker/IssueTracker/02.LabelScene/ViewModel/LabelItemViewModel.swift
  iOS/IssueTracker/IssueTracker/02.LabelScene/ViewModel/LabelListViewModel.swift
  iOS/IssueTracker/IssueTracker/03.MilestoneScene/SubmitFields/MilestoneSubmitFieldsView.xib
  iOS/IssueTracker/IssueTracker/03.MilestoneScene/ViewModel/MilestoneItemViewModel.swift
  iOS/IssueTracker/IssueTracker/03.MilestoneScene/ViewModel/MilestoneListViewModel.swift
  iOS/IssueTracker/IssueTracker/04.Models/Label.swift
  iOS/IssueTracker/IssueTracker/04.Models/LabelProvider.swift
  iOS/IssueTracker/IssueTracker/04.Models/Milestone.swift
  iOS/IssueTracker/IssueTracker/04.Models/MilestoneProvider.swift
  iOS/IssueTracker/IssueTracker/06.Extensions/Date+.swift
  iOS/IssueTracker/IssueTracker/06.Extensions/DateFormatter+.swift
  iOS/IssueTracker/IssueTracker/06.Extensions/JSONEncoder+encode.swift
  iOS/IssueTracker/IssueTracker/06.Extensions/String+Date.swift
  iOS/IssueTracker/IssueTracker/08.Endpoints/IssueTrackerEndPoint.swift
  iOS/IssueTracker/IssueTracker/08.Endpoints/LabelEndPoint.swift
  iOS/IssueTracker/IssueTracker/08.Endpoints/MilestoneEndPoint.swift
  iOS/IssueTracker/IssueTracker/SceneDelegate.swift
  iOS/IssueTracker/NetworkFramework/DataLoader.swift
Labels: 0_Merge: Dev-iOS, iOS 🍎

#154 상세조건 뷰와 main filter view 연결
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/01.IssueScene/FilterScene/CellComponent/LabelComponentView.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/FilterScene/CellComponent/LabelComponentView.xib
  iOS/IssueTracker/IssueTracker/01.IssueScene/FilterScene/CellComponent/MilestoneComponentView.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/FilterScene/CellComponent/MilestoneComponentView.xib
  iOS/IssueTracker/IssueTracker/01.IssueScene/FilterScene/CellComponent/UserInfoComponentView.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/FilterScene/CellComponent/UserInfoComponentView.xib
  iOS/IssueTracker/IssueTracker/01.IssueScene/FilterScene/DetailConditionCells/ConditionCellView.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/FilterScene/DetailConditionCells/Label/LabelConditionCellView.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/FilterScene/DetailConditionCells/Label/LabelConditionCellView.xib
  iOS/IssueTracker/IssueTracker/01.IssueScene/FilterScene/DetailConditionCells/Milestone/MilestoneConditionCellView.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/FilterScene/DetailConditionCells/Milestone/MilestoneConditionCellView.xib
  iOS/IssueTracker/IssueTracker/01.IssueScene/FilterScene/DetailConditionCells/User/UserConditionCellView.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/FilterScene/DetailConditionScene/DetailConditionSelectCell/DetailConditionSelectCellView.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/FilterScene/DetailConditionScene/DetailConditionSelectCell/DetailConditionSelectCellView.xib
  iOS/IssueTracker/IssueTracker/01.IssueScene/FilterScene/DetailConditionScene/DetailConditionSelectViewController.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/FilterScene/DetailConditionScene/DetailConditionSelectViewController.xib
  iOS/IssueTracker/IssueTracker/01.IssueScene/FilterScene/MainFilterScene/DetailFilterCellView.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/FilterScene/MainFilterScene/IssueFilterViewController.swift
  iOS/IssueTracker/IssueTracker/05.CustomUI/CellComponents/CellComponentProtocol.swift
  iOS/IssueTracker/IssueTracker/Base.lproj/Main.storyboard
Labels: 0_Merge: Dev-iOS, Feature 🎨

#155 마크다운 문법 렌더링 기능 구현
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/01.IssueScene/View/AddNewIssueViewController.swift
  iOS/IssueTracker/Podfile
  iOS/IssueTracker/Podfile.lock
Labels: 0_Merge: Dev-iOS, iOS 🍎

#156 fix : :fire: filterScene Merge 후 수정사항
  iOS/IssueTracker/IssueTracker/01.IssueScene/FilterScene/CellComponent/MilestoneComponentView.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/FilterScene/DetailConditionScene/DetailConditionSelectViewController.swift
Labels: 0_Merge: Dev-iOS, Bug 🐞

#161 refactor : :rainbow: get issues API 반환 형식 수정
  web/server/src/services/issue.service.ts
  web/server/src/services/label.service.ts
Labels: 0_Merge: Dev-Web, Feature 🎨, Refactoring ✒

#162 feat : :zap:️ API GET : /api/milestone/:id
  web/server/src/routers/milestone.ts
  web/server/src/services/milestone.service.ts
Labels: 0_Merge: Dev-Web, BE 🧑🏻‍💻, Feature 🎨

#164 feat : ⚡ router 추가
  web/client/package-lock.json
  web/client/package.json
  web/client/src/app.tsx
  web/client/src/components/app.tsx
  web/client/src/index.tsx
  web/client/src/views/create-issue.tsx
  web/client/src/views/create-milestone.tsx
  web/client/src/views/detail-issue.tsx
  web/client/src/views/issue.tsx
  web/client/src/views/label.tsx
  web/client/src/views/milestone.tsx
  web/client/tsconfig.json
  web/client/webpack.config.js
Labels: 0_Merge: Dev-Web, FE 💻, Feature 🎨

#165 chore : :package: client 풀더 구조설계
  web/client/src/containers/index.ts
  web/client/src/contexts/index.ts
  web/client/src/hooks/index.ts
  web/client/src/lib/index.ts
Labels: 0_Merge: Dev-Web, FE 💻

#166 Issue 데이터 모델과 IssueScene <-> FilterScene 데이터 연결
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/00.MainTabBarScene/MainTabBarController.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/FilterScene/CellComponent/LabelComponentView.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/FilterScene/CellComponent/MilestoneComponentView.xib
  iOS/IssueTracker/IssueTracker/01.IssueScene/FilterScene/CellComponent/UserInfoComponentView.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/FilterScene/DetailConditionScene/DetailConditionSelectViewController.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/FilterScene/DetailConditionScene/ViewModel/DetailConditionViewModel.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/FilterScene/FilterConditionType.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/FilterScene/MainFilterScene/DetailFilterCellView.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/FilterScene/MainFilterScene/IssueFilterViewController.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/FilterScene/MainFilterScene/IssueFilterViewModel/IssueFilterViewModel.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/FilterScene/ViewModel/ConditionCellViewModel.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/View/IssueCellView/IssueCellView.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/View/IssueListViewController.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/ViewModel/IssueItemViewModel.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/ViewModel/IssueListViewModel.swift
  iOS/IssueTracker/IssueTracker/02.LabelScene/ViewModel/LabelListViewModel.swift
  iOS/IssueTracker/IssueTracker/04.Models/Issue.swift
  iOS/IssueTracker/IssueTracker/04.Models/IssueFilter.swift
  iOS/IssueTracker/IssueTracker/04.Models/IssueProvider.swift
  iOS/IssueTracker/IssueTracker/04.Models/LabelProvider.swift
  iOS/IssueTracker/IssueTracker/04.Models/MilestoneProvider.swift
  iOS/IssueTracker/IssueTracker/08.Endpoints/IssueEndPoint.swift
  iOS/IssueTracker/IssueTracker/Base.lproj/Main.storyboard
Labels: 0_Merge: Dev-iOS, Feature 🎨

#168 이슈상세화면 UI 틀 완료, 댓글 추가화면 생성완료
  iOS/IssueTracker/.swiftlint.yml
  iOS/IssueTracker/Base.lproj/Main.storyboard
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/01.IssueScene/View/AddCommentView/AddCommentView.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/View/AddCommentView/AddCommentView.xib
  iOS/IssueTracker/IssueTracker/01.IssueScene/View/IssueCellView/IssueCellView.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/View/IssueDetailView/IssueDetailCellView.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/View/IssueDetailView/IssueDetailCellView.xib
  iOS/IssueTracker/IssueTracker/01.IssueScene/View/IssueDetailView/IssueDetailHeaderView.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/View/IssueDetailView/IssueDetailHeaderView.xib
  iOS/IssueTracker/IssueTracker/01.IssueScene/View/IssueDetailView/IssueDetailViewController.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/View/IssueDetailView/IssueDetailViewController.xib
  iOS/IssueTracker/IssueTracker/01.IssueScene/View/IssueListViewController.swift
  iOS/IssueTracker/IssueTracker/02.LabelScene/View/LabelListViewController.swift
  iOS/IssueTracker/IssueTracker/03.MilestoneScene/View/MilestoneListViewController.swift
  iOS/IssueTracker/IssueTracker/03.MilestoneScene/ViewModel/MilestoneListViewModel.swift
  iOS/IssueTracker/IssueTracker/04.Models/MilestoneProvider.swift
  iOS/IssueTracker/IssueTracker/06.Extensions/CollectionView+Registerable.swift
Labels: 0_Merge: Dev-iOS, Feature 🎨, iOS 🍎

#169 refactor : :rainbow: Router exact 제거
  web/client/src/app.tsx
Labels: 0_Merge: Dev-Web, FE 💻, Refactoring ✒

#170 CSS Reset, Comment Box Component
  web/client/assets/palette.ts
  web/client/package-lock.json
  web/client/package.json
  web/client/src/app.tsx
  web/client/src/components/commentBox/index.tsx
  web/client/src/components/commentBox/style.tsx
Labels: 0_Merge: Dev-Web, FE 💻, Feature 🎨

#172 Issue cell touch 분기처리
  iOS/IssueTracker/IssueTracker/01.IssueScene/View/IssueListViewController.swift
Labels: 0_Merge: Dev-iOS, Feature 🎨

#173 Feature/web/header
  web/client/package-lock.json
  web/client/package.json
  web/client/src/app.tsx
  web/client/src/components/button/index.tsx
  web/client/src/components/button/style.tsx
  web/client/src/components/header/index.tsx
  web/client/src/components/header/style.tsx
  web/client/src/views/create-issue.tsx
  web/client/src/views/create-milestone.tsx
  web/client/src/views/detail-issue.tsx
  web/client/src/views/issue.tsx
  web/client/src/views/label.tsx
  web/client/src/views/milestone.tsx
Labels: 0_Merge: Dev-Web, FE 💻, Feature 🎨

#174 modal login 추가
  web/client/.gitignore
  web/client/package-lock.json
  web/client/src/components/auth/button.tsx
  web/client/src/components/auth/input-form.tsx
  web/client/src/components/auth/input-title.tsx
  web/client/src/components/auth/login.tsx
  web/client/src/components/modal/index.tsx
  web/client/src/views/issue.tsx
Labels: 0_Merge: Dev-Web, FE 💻, Feature 🎨

#180 이슈상세화면 data 연동 구현
  iOS/IssueTracker/Base.lproj/Main.storyboard
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker.xcodeproj/xcshareddata/xcschemes/IssueTracker.xcscheme
  iOS/IssueTracker/IssueTracker/00.MainTabBarScene/MainTabBarController.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/IssueDetailScene/AddCommentView/AddCommentView.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/IssueDetailScene/AddCommentView/AddCommentView.xib
  iOS/IssueTracker/IssueTracker/01.IssueScene/IssueDetailScene/IssueDetailView/IssueDetailCellView.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/IssueDetailScene/IssueDetailView/IssueDetailCellView.xib
  iOS/IssueTracker/IssueTracker/01.IssueScene/IssueDetailScene/IssueDetailView/IssueDetailHeaderView.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/IssueDetailScene/IssueDetailView/IssueDetailHeaderView.xib
  iOS/IssueTracker/IssueTracker/01.IssueScene/IssueDetailScene/IssueDetailViewController.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/IssueDetailScene/IssueDetailViewController.xib
  iOS/IssueTracker/IssueTracker/01.IssueScene/IssueEditScene/AddNewIssueViewController.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/IssueListScene/IssueCellView/IssueCellView.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/IssueListScene/IssueCellView/IssueCellView.xib
  iOS/IssueTracker/IssueTracker/01.IssueScene/IssueListScene/IssueListViewController.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/View/IssueDetailView/IssueDetailHeaderView.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/ViewModel/IssueDetailViewModel.swift
  iOS/IssueTracker/IssueTracker/04.Models/Issue.swift
  iOS/IssueTracker/IssueTracker/04.Models/IssueProvider.swift
Labels: 0_Merge: Dev-iOS, Feature 🎨

#178 Directory 구조 및 ViewModel Injection
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/01.IssueScene/FilterScene/DetailConditionScene/DetailConditionSelectCell/DetailConditionSelectCellView.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/FilterScene/DetailConditionScene/DetailConditionSelectViewController.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/FilterScene/DetailConditionScene/ViewModel/DetailConditionViewModel.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/FilterScene/MainFilterScene/DetailFilterCellView.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/FilterScene/MainFilterScene/IssueFilterViewController.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/FilterScene/MainFilterScene/ViewModel/IssueFilterViewModel.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/IssueListScene/IssueCellView/IssueCellView.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/IssueListScene/IssueListViewController.swift
  iOS/IssueTracker/IssueTracker/02.LabelScene/View/LabelListViewController.swift
  iOS/IssueTracker/IssueTracker/03.MilestoneScene/SubmitFields/MilestoneSubmitFieldsView.swift
  iOS/IssueTracker/IssueTracker/03.MilestoneScene/View/MilestoneListViewController.swift
  iOS/IssueTracker/IssueTracker/04.Models/LabelProvider.swift
  iOS/IssueTracker/IssueTracker/05.CustomUI/CellComponents/CellComponentProtocol.swift
  iOS/IssueTracker/IssueTracker/05.CustomUI/CellComponents/CellComponentViewModel.swift
  iOS/IssueTracker/IssueTracker/05.CustomUI/CellComponents/Label/LabelComponentView.swift
  iOS/IssueTracker/IssueTracker/05.CustomUI/CellComponents/Label/LabelComponentView.xib
  iOS/IssueTracker/IssueTracker/05.CustomUI/CellComponents/Milestone/MilestoneComponentView.swift
  iOS/IssueTracker/IssueTracker/05.CustomUI/CellComponents/Milestone/MilestoneComponentView.xib
  iOS/IssueTracker/IssueTracker/05.CustomUI/CellComponents/UserInfo/UserInfoComponentView.swift
  iOS/IssueTracker/IssueTracker/05.CustomUI/CellComponents/UserInfo/UserInfoComponentView.xib
  iOS/IssueTracker/IssueTracker/06.Extensions/String+Matching.swift
Labels: 0_Merge: Dev-iOS, Refactoring ✒

#202 Fix/issue detail header
  iOS/IssueTracker/Base.lproj/Main.storyboard
  iOS/IssueTracker/IssueTracker.xcworkspace/xcshareddata/xcdebugger/Breakpoints_v2.xcbkptlist
  iOS/IssueTracker/IssueTracker/01.IssueScene/FilterScene/DetailConditionScene/DetailConditionSelectViewController.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/FilterScene/DetailConditionScene/DetailConditionSelectViewController.xib
  iOS/IssueTracker/IssueTracker/01.IssueScene/FilterScene/MainFilterScene/IssueFilterViewController.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/IssueDetailScene/IssueDetailView/IssueDetailCellView.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/IssueDetailScene/IssueDetailView/IssueDetailHeaderView.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/IssueDetailScene/IssueDetailView/IssueDetailHeaderView.xib
  iOS/IssueTracker/IssueTracker/01.IssueScene/IssueDetailScene/IssueDetailViewController.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/IssueListScene/IssueListViewController.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/ViewModel/IssueDetailViewModel.swift
  iOS/IssueTracker/IssueTracker/04.Models/Issue.swift
  iOS/IssueTracker/IssueTracker/04.Models/IssueProvider.swift
  iOS/IssueTracker/IssueTracker/07.Supports/Assets.xcassets/ClosedIssueBackgroundColor.colorset/Contents.json
  iOS/IssueTracker/IssueTracker/07.Supports/Assets.xcassets/OpenIssueBackgroundColor.colorset/Contents.json
Labels: 0_Merge: Dev-iOS, Bug 🐞, iOS 🍎

#189 [hotfix] async, await 에러 발생 수정
  web/client/tsconfig.json
Labels: 0_Merge: Dev-Web, Bug 🐞, FE 💻

#188 IssueDetailViewModel 리팩토링, IssueFilter 스토리 보드 분리, Milestone Decoder 수정
  iOS/IssueTracker/Base.lproj/Main.storyboard
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/00.MainTabBarScene/MainTabBarController.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/FilterScene/MainFilterScene/IssueFilter.storyboard
  iOS/IssueTracker/IssueTracker/01.IssueScene/FilterScene/MainFilterScene/IssueFilterViewController.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/IssueDetailScene/IssueDetailView/IssueDetailHeaderView.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/IssueDetailScene/IssueDetailViewController.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/IssueListScene/IssueListViewController.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/ViewModel/DetailConditionViewModel.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/ViewModel/IssueDetailViewModel.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/ViewModel/IssueFilterViewModel.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/ViewModel/IssueListViewModel.swift
  iOS/IssueTracker/IssueTracker/04.Models/Milestone.swift
Labels: 0_Merge: Dev-iOS, Refactoring ✒

#190 [FE] useAsync custom hook
  web/client/src/hooks/useAsync.ts
Labels: 0_Merge: Dev-Web, FE 💻, Feature 🎨

#191 [FE] 프로필 이미지 컴포넌트
  web/client/src/components/profile-image/index.tsx
  web/client/src/components/profile-image/style.tsx
Labels: 0_Merge: Dev-Web, FE 💻, Feature 🎨

#192 [FE] Comment Component 작성 시간 포맷 수 정
  web/client/src/components/commentBox/index.tsx
  web/client/src/lib/dateParser.ts
Labels: 0_Merge: Dev-Web, FE 💻, Feature 🎨

#194 SubmitFormView -> ViewController로 변경
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/02.LabelScene/View/LabelListViewController.swift
  iOS/IssueTracker/IssueTracker/02.LabelScene/View/SubmitFields/LabelSubmitFieldsView.swift
  iOS/IssueTracker/IssueTracker/03.MilestoneScene/SubmitFields/MilestoneSubmitFieldsView.swift
  iOS/IssueTracker/IssueTracker/03.MilestoneScene/View/MilestoneListViewController.swift
  iOS/IssueTracker/IssueTracker/05.CustomUI/SubmitFields/SubmitFieldProtocol.swift
  iOS/IssueTracker/IssueTracker/05.CustomUI/SubmitForm/SubmitFormView+LoadFromNib.swift
  iOS/IssueTracker/IssueTracker/05.CustomUI/SubmitForm/SubmitFormViewController.swift
  iOS/IssueTracker/IssueTracker/05.CustomUI/SubmitForm/SubmitFormViewController.xib
  iOS/IssueTracker/IssueTracker/06.Extensions/UIViewController+ShowAlert.swift
Labels: 0_Merge: Dev-iOS, Refactoring ✒

#195 milestone cell issue open/ close 연결
  iOS/IssueTracker/IssueTracker/03.MilestoneScene/ViewModel/MilestoneItemViewModel.swift
Labels: 0_Merge: Dev-iOS, Feature 🎨

#201 Issue API 데이터 파싱
  iOS/IssueTracker/Base.lproj/Main.storyboard
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/00.MainTabBarScene/MainTabBarController.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/FilterScene/MainFilterScene/IssueFilterViewController.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/IssueDetailScene/IssueDetailViewController.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/IssueListScene/IssueCellView/IssueCellView.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/IssueListScene/IssueCellView/IssueCellView.xib
  iOS/IssueTracker/IssueTracker/01.IssueScene/IssueListScene/IssueListViewController.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/ViewModel/IssueDetailViewModel.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/ViewModel/IssueListViewModel.swift
  iOS/IssueTracker/IssueTracker/02.LabelScene/View/LabelCell/LabelCellView.swift
  iOS/IssueTracker/IssueTracker/02.LabelScene/View/LabelCell/LabelCellView.xib
  iOS/IssueTracker/IssueTracker/02.LabelScene/View/LabelListViewController.swift
  iOS/IssueTracker/IssueTracker/02.LabelScene/View/SubmitFields/LabelSubmitFieldsView.xib
  iOS/IssueTracker/IssueTracker/03.MilestoneScene/SubmitFields/MilestoneSubmitFieldsView.swift
  iOS/IssueTracker/IssueTracker/03.MilestoneScene/SubmitFields/MilestoneSubmitFieldsView.xib
  iOS/IssueTracker/IssueTracker/03.MilestoneScene/View/MilestoneCell/MilestoneCellView.swift
  iOS/IssueTracker/IssueTracker/03.MilestoneScene/View/MilestoneCell/MilestoneCellView.xib
  iOS/IssueTracker/IssueTracker/03.MilestoneScene/View/MilestoneListViewController.swift
  iOS/IssueTracker/IssueTracker/04.Models/Issue.swift
  iOS/IssueTracker/IssueTracker/04.Models/IssueProvider.swift
  iOS/IssueTracker/IssueTracker/04.Models/LabelProvider.swift
  iOS/IssueTracker/IssueTracker/04.Models/MilestoneProvider.swift
  iOS/IssueTracker/IssueTracker/05.CustomUI/BadgeLabelView.swift
  iOS/IssueTracker/IssueTracker/05.CustomUI/SubmitForm/SubmitFormViewController.xib
  iOS/IssueTracker/IssueTracker/08.Endpoints/CommentService.swift
  iOS/IssueTracker/IssueTracker/08.Endpoints/IssueEndPoint.swift
  iOS/IssueTracker/IssueTracker/08.Endpoints/IssueService.swift
  iOS/IssueTracker/IssueTracker/08.Endpoints/IssueTrackerAPIs.swift
  iOS/IssueTracker/IssueTracker/08.Endpoints/IssueTrackerEndPoint.swift
  iOS/IssueTracker/IssueTracker/08.Endpoints/LabelEndPoint.swift
  iOS/IssueTracker/IssueTracker/08.Endpoints/LabelService.swift
  iOS/IssueTracker/IssueTracker/08.Endpoints/MilestoneEndPoint.swift
  iOS/IssueTracker/IssueTracker/08.Endpoints/MilestoneService.swift
  iOS/IssueTracker/NetworkFramework/DataLoader.swift
  iOS/IssueTracker/NetworkFramework/EncodableObject.swift
  iOS/IssueTracker/NetworkFramework/EndPoint.swift
  iOS/IssueTracker/NetworkFramework/HTTPMethod.swift
  iOS/IssueTracker/NetworkFramework/NetworkError.swift
  iOS/IssueTracker/NetworkFramework/Response.swift
  iOS/IssueTracker/NetworkFramework/Target.swift
  iOS/IssueTracker/NetworkFramework/Task.swift
  iOS/IssueTracker/NetworkFramework/URL+Mapping.swift
  iOS/IssueTracker/NetworkFramework/URLRequest+Encoding.swift
  iOS/IssueTracker/NetworkFramework/ValidationType.swift
Labels: 0_Merge: Dev-iOS, Feature 🎨

#211 Issue List 목록 Cell 화면 수정
  iOS/IssueTracker/Base.lproj/Main.storyboard
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/01.IssueScene/FilterScene/MainFilterScene/IssueFilter.storyboard
  iOS/IssueTracker/IssueTracker/01.IssueScene/FilterScene/MainFilterScene/ViewModel/IssueFilterViewModel.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/IssueListScene/IssueCellView/IssueCellView.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/IssueListScene/IssueCellView/IssueCellView.xib
  iOS/IssueTracker/IssueTracker/01.IssueScene/IssueListScene/IssueListViewController.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/ViewModel/IssueItemViewModel.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/ViewModel/IssueListViewModel.swift
  iOS/IssueTracker/IssueTracker/04.Models/Issue.swift
  iOS/IssueTracker/IssueTracker/04.Models/IssueProvider.swift
  iOS/IssueTracker/IssueTracker/04.Models/LabelProvider.swift
  iOS/IssueTracker/IssueTracker/05.CustomUI/LabelBadgeCellView.swift
  iOS/IssueTracker/IssueTracker/05.CustomUI/LabelBadgeCellView.xib
  iOS/IssueTracker/IssueTracker/05.CustomUI/LeftAlignedBadgeFlowLayout.swift
Labels: 0_Merge: Dev-iOS, Feature 🎨

#199 webpack 설정 수정
  web/client/.babelrc
  web/client/assets/images/heart.png
  web/client/package.json
  web/client/src/@types/import-png.d.ts
  web/client/src/components/auth/button.tsx
  web/client/src/components/auth/input-form.tsx
  web/client/src/components/auth/input-title.tsx
  web/client/src/components/header/index.tsx
  web/client/src/components/modal/index.tsx
  web/client/src/views/issue.tsx
  web/client/tsconfig.json
  web/client/webpack.common.js
  web/client/webpack.config.js
  web/client/webpack.dev.js
  web/client/webpack.prod.js
  web/server/src/loaders/passport.ts
Labels: 0_Merge: Dev-Web, Configure ⚙, FE 💻

#221 modal, auth 관련 component 스타일 코드 분리
  web/client/src/components/auth/button.tsx
  web/client/src/components/auth/input-form.tsx
  web/client/src/components/auth/input-title.tsx
  web/client/src/components/auth/login.tsx
  web/client/src/components/auth/style.tsx
  web/client/src/components/modal/index.tsx
  web/client/src/components/modal/style.tsx
Labels: 0_Merge: Dev-Web, FE 💻, Refactoring ✒

#226 [FE] CommentBox component CSS, structure refactor
  web/client/src/components/commentBox/index.tsx
  web/client/src/components/commentBox/style.tsx
  web/client/src/lib/dateParser.ts
Labels: 0_Merge: Dev-Web, FE 💻, Refactoring ✒

#229 [FE] Issue sidebar component
  web/client/package.json
  web/client/src/components/issue-sidebar/item/index.tsx
  web/client/src/components/issue-sidebar/item/style.tsx
  web/client/src/components/issue-sidebar/sidebar/index.tsx
  web/client/src/components/issue-sidebar/sidebar/style.tsx
Labels: 0_Merge: Dev-Web, FE 💻, Feature 🎨

#230 Feature/web/label page
  web/client/package.json
  web/client/src/@types/label-form.ts
  web/client/src/components/button/style.tsx
  web/client/src/components/label-row-container/index.tsx
  web/client/src/components/label-row-container/style.tsx
  web/client/src/components/label-row/index.tsx
  web/client/src/components/label-row/style.tsx
  web/client/src/components/label/index.tsx
  web/client/src/components/label/style.tsx
  web/client/src/views/label.tsx
Labels: 0_Merge: Dev-Web, FE 💻, Feature 🎨

#231 Feature/ios/select issue to close
  iOS/IssueTracker/Base.lproj/Main.storyboard
  iOS/IssueTracker/IssueTracker/01.IssueScene/IssueDetailScene/IssueDetailViewController.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/IssueListScene/IssueCellView/IssueCellView.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/IssueListScene/IssueCellView/IssueCellView.xib
  iOS/IssueTracker/IssueTracker/01.IssueScene/IssueListScene/IssueListViewController.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/ViewModel/IssueItemViewModel.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/ViewModel/IssueListViewModel.swift
  iOS/IssueTracker/IssueTracker/03.MilestoneScene/View/MilestoneListViewController.swift
  iOS/IssueTracker/IssueTracker/04.Models/Issue.swift
  iOS/IssueTracker/IssueTracker/04.Models/IssueProvider.swift
Labels: 0_Merge: Dev-iOS, Feature 🎨

#232 이슈 상세화면, 댓글 추가화면 데이터 연결 완료
  iOS/IssueTracker/Base.lproj/Main.storyboard
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/01.IssueScene/IssueDetailScene/AddCommentView/AddCommentView.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/IssueDetailScene/AddCommentView/AddCommentView.xib
  iOS/IssueTracker/IssueTracker/01.IssueScene/IssueDetailScene/IssueDetailView/IssueDetailCellView.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/IssueDetailScene/IssueDetailView/IssueDetailCellView.xib
  iOS/IssueTracker/IssueTracker/01.IssueScene/IssueDetailScene/IssueDetailView/IssueDetailHeaderView.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/IssueDetailScene/IssueDetailView/IssueDetailHeaderView.xib
  iOS/IssueTracker/IssueTracker/01.IssueScene/IssueDetailScene/IssueDetailViewController.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/IssueEditScene/AddNewIssueViewController.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/IssueEditScene/EditIssue.storyboard
  iOS/IssueTracker/IssueTracker/01.IssueScene/IssueListScene/IssueListViewController.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/ViewModel/IssueDetailViewModel.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/ViewModel/IssueListViewModel.swift
  iOS/IssueTracker/IssueTracker/04.Models/Issue.swift
  iOS/IssueTracker/IssueTracker/04.Models/IssueProvider.swift
  iOS/IssueTracker/IssueTracker/07.Supports/Info.plist
  iOS/IssueTracker/IssueTracker/08.Endpoints/CommentService.swift
Labels: 0_Merge: Dev-iOS, Feature 🎨, iOS 🍎

#233 fix : :fire: issue API 수정
  web/server/src/routers/issue.ts
  web/server/src/services/issue.service.ts
  web/server/src/types/issue/index.ts
  web/server/src/types/issue/udpate-issue-content.ts
  web/server/src/types/issue/update-issue-title.ts
Labels: 0_Merge: Dev-Web, BE 🧑🏻‍💻

#235 CommentView 구현
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/01.IssueScene/FilterScene/MainFilterScene/IssueFilter.storyboard
  iOS/IssueTracker/IssueTracker/01.IssueScene/IssueDetailScene/AddCommentView/AddCommentView.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/IssueDetailScene/AddCommentView/AddCommentView.xib
  iOS/IssueTracker/IssueTracker/01.IssueScene/IssueDetailScene/AddCommentView/ContentTableView/AddCommentHeaderView.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/IssueDetailScene/AddCommentView/ContentTableView/AddCommentHeaderView.xib
  iOS/IssueTracker/IssueTracker/01.IssueScene/IssueDetailScene/AddCommentView/ContentTableView/AddCommentLabelCollectionView.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/IssueDetailScene/AddCommentView/ContentTableView/AddCommentLabelCollectionView.xib
  iOS/IssueTracker/IssueTracker/01.IssueScene/IssueDetailScene/AddCommentView/ContentTableView/AddCommentMilestoneCellView.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/IssueDetailScene/AddCommentView/ContentTableView/AddCommentMilestoneCellView.xib
  iOS/IssueTracker/IssueTracker/01.IssueScene/IssueDetailScene/AddCommentView/ContentTableView/AssigneeCellView.swift
  iOS/IssueTracker/IssueTracker/05.CustomUI/CellComponents/CellComponentViewModel.swift
  iOS/IssueTracker/IssueTracker/05.CustomUI/CellComponents/Label/LabelComponentView.xib
  iOS/IssueTracker/IssueTracker/05.CustomUI/CellComponents/Milestone/MilestoneComponentView.xib
  iOS/IssueTracker/IssueTracker/05.CustomUI/CellComponents/UserInfo/UserInfoComponentView.xib
Labels: 0_Merge: Dev-iOS, Feature 🎨

#237 선택 이슈 닫기 버튼 애니메이션, IssueCellViewDelegate
  iOS/IssueTracker/Base.lproj/Main.storyboard
  iOS/IssueTracker/IssueTracker/01.IssueScene/IssueDetailScene/AddCommentView/AddCommentView.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/IssueDetailScene/AddCommentView/ContentTableView/AddCommentLabelCollectionView.xib
  iOS/IssueTracker/IssueTracker/01.IssueScene/IssueDetailScene/AddCommentView/ContentTableView/AddCommentMilestoneCellView.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/IssueDetailScene/AddCommentView/ContentTableView/AddCommentMilestoneCellView.xib
  iOS/IssueTracker/IssueTracker/01.IssueScene/IssueDetailScene/IssueDetailView/IssueDetailHeaderView.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/IssueListScene/IssueCellView/IssueCellView.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/IssueListScene/IssueListViewController.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/ViewModel/IssueDetailViewModel.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/ViewModel/IssueListViewModel.swift
  iOS/IssueTracker/IssueTracker/04.Models/Issue.swift
  iOS/IssueTracker/IssueTracker/04.Models/IssueProvider.swift
  iOS/IssueTracker/IssueTracker/08.Endpoints/IssueService.swift
Labels: 0_Merge: Dev-iOS, Feature 🎨

#234 webpack 파일 수정
  web/client/package.json
  web/client/webpack.common.js
  web/client/webpack.dev.js
  web/client/webpack.prod.js
Labels: 0_Merge: Dev-Web, Configure ⚙, FE 💻

#236 Feature/web/label page
  web/client/src/components/button/index.tsx
  web/client/src/components/button/style.tsx
  web/client/src/components/label-create-box/index.tsx
  web/client/src/components/label-create-box/style.tsx
  web/client/src/components/label-editor/index.tsx
  web/client/src/components/label-editor/style.tsx
  web/client/src/components/label-row-container/index.tsx
  web/client/src/components/label-row/style.tsx
  web/client/src/containers/index.ts
  web/client/src/containers/label-list-header/index.tsx
  web/client/src/containers/label-list-header/style.tsx
  web/client/src/containers/label-row-container/index.tsx
  web/client/src/containers/label-row-container/style.tsx
  web/client/src/views/label.tsx
  web/client/src/views/label/index.tsx
Labels: 0_Merge: Dev-Web, FE 💻, Feature 🎨

#239 Feature/ios/comment issue view
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/01.IssueScene/DetailSelectionScene/DetailConditionSelectCell/DetailConditionSelectCellView.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/DetailSelectionScene/DetailConditionSelectCell/DetailConditionSelectCellView.xib
  iOS/IssueTracker/IssueTracker/01.IssueScene/DetailSelectionScene/DetailSelectionViewController.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/DetailSelectionScene/DetailSelectionViewController.xib
  iOS/IssueTracker/IssueTracker/01.IssueScene/DetailSelectionScene/ViewModel/DetailSelectionViewModel.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/FilterScene/FilterConditionType.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/FilterScene/MainFilterScene/IssueFilterViewController.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/FilterScene/MainFilterScene/ViewModel/IssueFilterViewModel.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/IssueDetailScene/AddCommentView/ContentTableView/AssigneeCellView.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/IssueDetailScene/BottomSheetViews/BottomSheetView.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/IssueDetailScene/BottomSheetViews/BottomSheetView.xib
  iOS/IssueTracker/IssueTracker/01.IssueScene/IssueDetailScene/BottomSheetViews/ContentTableView/BottomSheetHeaderView.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/IssueDetailScene/BottomSheetViews/ContentTableView/BottomSheetHeaderView.xib
  iOS/IssueTracker/IssueTracker/01.IssueScene/IssueDetailScene/BottomSheetViews/ContentTableView/BottomSheetLabelCollectionView.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/IssueDetailScene/BottomSheetViews/ContentTableView/BottomSheetLabelCollectionView.xib
  iOS/IssueTracker/IssueTracker/01.IssueScene/IssueDetailScene/BottomSheetViews/ContentTableView/BottomSheetMilestoneView.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/IssueDetailScene/BottomSheetViews/ContentTableView/BottomSheetMilestoneView.xib
  iOS/IssueTracker/IssueTracker/01.IssueScene/IssueDetailScene/IssueDetailViewController.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/IssueListScene/IssueCellView/IssueCellView.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/IssueListScene/IssueCellView/IssueCellView.xib
  iOS/IssueTracker/IssueTracker/01.IssueScene/IssueListScene/IssueListViewController.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/ViewModel/IssueDetailViewModel.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/ViewModel/IssueListViewModel.swift
  iOS/IssueTracker/IssueTracker/04.Models/Issue.swift
  iOS/IssueTracker/IssueTracker/04.Models/IssueFilter.swift
  iOS/IssueTracker/IssueTracker/04.Models/IssueProvider.swift
Labels: 0_Merge: Dev-iOS, Feature 🎨

#240 [FE] Issue Title 컴포넌트, 버튼 컴포넌트 수정
  web/client/src/components/button/index.tsx
  web/client/src/components/button/style.tsx
  web/client/src/components/issueHeader/index.tsx
  web/client/src/components/issueHeader/style.tsx
Labels: 0_Merge: Dev-Web, FE 💻, Feature 🎨

#241 [FE] CommentBox 컴포넌트에 댓글, 수정 UI 업데이트
  web/client/src/components/commentBox/index.tsx
  web/client/src/components/commentBox/style.tsx
  web/client/src/components/textarea/index.tsx
  web/client/src/components/textarea/style.tsx
  web/client/src/containers/commentBox-container/index.tsx
Labels: 0_Merge: Dev-Web, FE 💻, Feature 🎨

#242 refactor : :rainbow: label-create box 위치 변경 및 필요없는 파일 제거
  web/client/src/containers/label-create-box/index.tsx
  web/client/src/containers/label-create-box/style.tsx
  web/client/src/containers/label-list-header/index.tsx
  web/client/src/hooks/index.ts
Labels: 0_Merge: Dev-Web, Refactoring ✒

#243 이슈 상세페이지에서 이슈의 마일스톤, 라벨 추가/ 제거
  iOS/IssueTracker/Base.lproj/Main.storyboard
  iOS/IssueTracker/IssueTracker/01.IssueScene/FilterScene/MainFilterScene/ViewModel/IssueFilterViewModel.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/IssueDetailScene/BottomSheetViews/BottomSheetView.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/IssueDetailScene/BottomSheetViews/ContentTableView/BottomSheetHeaderView.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/IssueDetailScene/BottomSheetViews/ContentTableView/BottomSheetHeaderView.xib
  iOS/IssueTracker/IssueTracker/01.IssueScene/IssueDetailScene/IssueDetailViewController.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/IssueListScene/IssueCellView/IssueCellView.xib
  iOS/IssueTracker/IssueTracker/01.IssueScene/IssueListScene/IssueListViewController.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/ViewModel/IssueDetailViewModel.swift
  iOS/IssueTracker/IssueTracker/04.Models/Issue.swift
  iOS/IssueTracker/IssueTracker/04.Models/IssueProvider.swift
  iOS/IssueTracker/IssueTracker/04.Models/MilestoneProvider.swift
Labels: 0_Merge: Dev-iOS, Feature 🎨

#244 새 이슈, 이슈 수정화면 구현 및 데이터 연동 완료
  iOS/IssueTracker/IssueTracker/01.IssueScene/IssueDetailScene/IssueDetailViewController.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/IssueEditScene/AddNewIssueViewController.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/IssueListScene/IssueListViewController.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/ViewModel/IssueDetailViewModel.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/ViewModel/IssueItemViewModel.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/ViewModel/IssueListViewModel.swift
  iOS/IssueTracker/IssueTracker/04.Models/Issue.swift
  iOS/IssueTracker/IssueTracker/04.Models/IssueProvider.swift
  iOS/IssueTracker/IssueTracker/08.Endpoints/IssueService.swift
Labels: 0_Merge: Dev-iOS, Feature 🎨, iOS 🍎

#246 issue List 페이지 컴포넌트 & 일부 기능 구현
  web/client/package.json
  web/client/src/components/dropdown/dropdown-content.tsx
  web/client/src/components/dropdown/dropdown-title.tsx
  web/client/src/components/dropdown/index.tsx
  web/client/src/components/dropdown/style.tsx
  web/client/src/components/issue-filter-bar/index.tsx
  web/client/src/components/issue-filter-bar/style.tsx
  web/client/src/components/issue-form/header/filter-list-content/index.tsx
  web/client/src/components/issue-form/header/filter-list-content/style.tsx
  web/client/src/components/issue-form/header/index.tsx
  web/client/src/components/issue-form/header/style.tsx
  web/client/src/components/issue-form/index.tsx
  web/client/src/components/issue-form/issueList/index.tsx
  web/client/src/components/issue-form/issueList/issueComp/index.tsx
  web/client/src/components/issue-form/issueList/issueComp/style.tsx
  web/client/src/components/issue-form/issueList/style.tsx
  web/client/src/components/issue-form/style.tsx
  web/client/src/components/nav-button/index.tsx
  web/client/src/components/nav-button/style.tsx
  web/client/src/hooks/useToggle.ts
  web/client/src/views/issue.tsx
Labels: 0_Merge: Dev-Web, FE 💻, Feature 🎨

#248 이슈 수정화면 개선
  iOS/IssueTracker/IssueTracker/01.IssueScene/IssueDetailScene/IssueDetailViewController.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/IssueEditScene/AddNewIssueViewController.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/IssueListScene/IssueListViewController.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/ViewModel/IssueDetailViewModel.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/ViewModel/IssueListViewModel.swift
  iOS/IssueTracker/IssueTracker/04.Models/IssueProvider.swift
Labels: 0_Merge: Dev-iOS, iOS 🍎

#245 Detail Scene -> List Scene 이동시 CollectionView ReloadData 문제 해결
  iOS/IssueTracker/Base.lproj/Main.storyboard
  iOS/IssueTracker/IssueTracker/01.IssueScene/IssueListScene/IssueCellView/IssueCellView.xib
  iOS/IssueTracker/IssueTracker/01.IssueScene/IssueListScene/IssueListViewController.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/ViewModel/IssueItemViewModel.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/ViewModel/IssueListViewModel.swift
  iOS/IssueTracker/IssueTracker/04.Models/LabelProvider.swift
  iOS/IssueTracker/IssueTracker/04.Models/MilestoneProvider.swift
Labels: 0_Merge: Dev-iOS, Bug 🐞

#247 Feature/web/label page
  web/client/src/components/label-editor/index.tsx
  web/client/src/components/label/index.tsx
  web/client/src/components/label/style.tsx
  web/client/src/containers/label-create-box/index.tsx
  web/client/src/containers/label-create-box/style.tsx
  web/client/src/containers/label-list-header/index.tsx
  web/client/src/containers/label-row-container/index.tsx
  web/client/src/lib/api.ts
  web/client/src/lib/get-font-color.ts
Labels: 0_Merge: Dev-Web, Refactoring ✒

#250 [FE] GitHub OAuth 프론트 처리
  web/client/package.json
  web/client/src/app.tsx
  web/client/src/components/auth/callback.tsx
  web/client/src/components/auth/login.tsx
  web/client/src/contexts/commentBoxContext.tsx
  web/client/src/lib/api.ts
  web/server/package-lock.json
  web/server/package.json
Labels: 0_Merge: Dev-Web, FE 💻, Feature 🎨

#253 Feature/web/o auth
  web/client/package.json
  web/client/src/app.tsx
  web/client/src/components/auth/callback.tsx
  web/client/src/components/auth/login.tsx
  web/client/src/components/auth/style.tsx
  web/client/src/lib/api.ts
  web/server/package-lock.json
  web/server/package.json
  web/server/src/lib/passport/github.ts
  web/server/src/middlewares/passport.ts
  web/server/src/routers/auth/index.ts
  web/server/src/routers/auth/sign-in.ts
  web/server/src/routers/index.ts
  web/server/src/routers/sign-in.ts
  web/server/src/services/user.service.ts
  web/server/src/types/sign-up.type.ts
Labels: 0_Merge: Dev-Web, BE 🧑🏻‍💻, FE 💻, Feature 🎨

#255 Issue, Milestone 버튼 Link 추가, Auth button 컴포넌트 이름 변경
  web/client/src/components/auth/button.tsx
  web/client/src/components/auth/login.tsx
  web/client/src/components/issue-filter-bar/index.tsx
  web/client/src/components/issue-filter-bar/style.tsx
  web/client/src/components/nav-button/index.tsx
  web/client/src/components/nav-button/style.tsx
Labels: 0_Merge: Dev-Web, FE 💻, Feature 🎨

#254 이슈 Filter, Close, Delete, Search Bar 기본 동작
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/01.IssueScene/FilterScene/MainFilterScene/ViewModel/IssueFilterViewModel.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/IssueDetailScene/BottomSheetViews/BottomSheetView.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/IssueDetailScene/IssueDetailViewController.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/IssueListScene/IssueCellView/IssueCellView.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/IssueListScene/IssueCellView/IssueCellView.xib
  iOS/IssueTracker/IssueTracker/01.IssueScene/IssueListScene/IssueListViewController.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/ViewModel/IssueDetailViewModel.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/ViewModel/IssueItemViewModel.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/ViewModel/IssueListViewModel.swift
  iOS/IssueTracker/IssueTracker/02.LabelScene/ViewModel/LabelItemViewModel.swift
  iOS/IssueTracker/IssueTracker/04.Models/Comment.swift
  iOS/IssueTracker/IssueTracker/04.Models/Issue.swift
  iOS/IssueTracker/IssueTracker/04.Models/IssueFilter.swift
  iOS/IssueTracker/IssueTracker/04.Models/IssueProvider.swift
  iOS/IssueTracker/IssueTracker/04.Models/User.swift
  iOS/IssueTracker/IssueTracker/08.Endpoints/IssueService.swift
  iOS/IssueTracker/NetworkFramework/DataLoader.swift
  iOS/IssueTracker/NetworkFramework/Response.swift
Labels: 0_Merge: Dev-iOS, Feature 🎨

#256 Feature/web/o auth
  web/server/src/routers/sign-in.ts
Labels: 0_Merge: Dev-Web, BE 🧑🏻‍💻, Feature 🎨

#257 fix : :fire: issue api 요청에 따른 응답 수정
  web/server/src/services/comment.service.ts
  web/server/src/services/issue.service.ts
  web/server/src/services/user.service.ts
Labels: 0_Merge: Dev-Web, BE 🧑🏻‍💻, Refactoring ✒

#258 깃헙 로그인 화면 및 기능 구현
  iOS/IssueTracker/Base.lproj/Main.storyboard
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/00.MainTabBarScene/MainTabBarController.swift
  iOS/IssueTracker/IssueTracker/04.Models/UserProvider.swift
  iOS/IssueTracker/IssueTracker/07.Supports/Info.plist
  iOS/IssueTracker/IssueTracker/08.Endpoints/AuthService.swift
  iOS/IssueTracker/IssueTracker/09.LoginScene/LoginViewController.swift
  iOS/IssueTracker/IssueTracker/09.LoginScene/LoginViewController.xib
  iOS/IssueTracker/IssueTracker/SceneDelegate.swift
  iOS/IssueTracker/NetworkFramework/URL+Mapping.swift
Labels: 0_Merge: Dev-iOS, Feature 🎨, iOS 🍎

#261 Github 로그인
  iOS/IssueTracker/IssueTracker/00.MainTabBarScene/MainTabBarController.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/IssueDetailScene/BottomSheetViews/BottomSheetView.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/IssueDetailScene/IssueDetailViewController.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/IssueListScene/IssueListViewController.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/ViewModel/IssueDetailViewModel.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/ViewModel/IssueListViewModel.swift
  iOS/IssueTracker/IssueTracker/03.MilestoneScene/ViewModel/MilestoneListViewModel.swift
  iOS/IssueTracker/IssueTracker/04.Models/Issue.swift
  iOS/IssueTracker/IssueTracker/04.Models/IssueProvider.swift
  iOS/IssueTracker/IssueTracker/04.Models/LabelProvider.swift
  iOS/IssueTracker/IssueTracker/04.Models/MilestoneProvider.swift
  iOS/IssueTracker/IssueTracker/04.Models/User.swift
  iOS/IssueTracker/IssueTracker/04.Models/UserProvider.swift
  iOS/IssueTracker/IssueTracker/05.CustomUI/CellComponents/CellComponentViewModel.swift
  iOS/IssueTracker/IssueTracker/SceneDelegate.swift
  iOS/IssueTracker/NetworkFramework/DataLoader.swift
Labels: 0_Merge: Dev-iOS, Feature 🎨

#263 detailView Cell 크기 조절과 filter 수정 및 추가
  iOS/IssueTracker/IssueTracker/01.IssueScene/FilterScene/FilterConditionType.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/FilterScene/MainFilterScene/IssueFilter.storyboard
  iOS/IssueTracker/IssueTracker/01.IssueScene/FilterScene/MainFilterScene/ViewModel/IssueFilterViewModel.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/IssueDetailScene/IssueDetailView/IssueDetailCellView.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/IssueDetailScene/IssueDetailView/IssueDetailCellView.xib
  iOS/IssueTracker/IssueTracker/01.IssueScene/IssueDetailScene/IssueDetailView/IssueDetailHeaderView.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/IssueDetailScene/IssueDetailViewController.swift
  iOS/IssueTracker/IssueTracker/04.Models/IssueFilter.swift
  iOS/IssueTracker/IssueTracker/04.Models/IssueProvider.swift
Labels: 0_Merge: Dev-iOS, Feature 🎨

#259 Feature/web/issue list
  web/client/src/components/dropdown/index.tsx
  web/client/src/components/dropdown/style.tsx
  web/client/src/components/issue-filter-bar/style.tsx
  web/client/src/components/issue-form/header/filter-list-content/style.tsx
  web/client/src/components/issue-form/header/index.tsx
  web/client/src/components/issue-form/issueList/index.tsx
  web/client/src/components/issue-form/issueList/issueComp/index.tsx
  web/client/src/components/issue-form/issueList/issueComp/style.tsx
  web/client/src/components/nav-button/style.tsx
  web/client/src/lib/api.ts
Labels: 0_Merge: Dev-Web, FE 💻, Feature 🎨

#260 [FE] issue Detail page layout, GET api/issue/:id API 연동
  web/client/src/@types/milestone.ts
  web/client/src/app.tsx
  web/client/src/components/commentBox/style.tsx
  web/client/src/components/issue-sidebar/sidebar/index.tsx
  web/client/src/components/issue-sidebar/sidebar/style.tsx
  web/client/src/components/issueHeader/index.tsx
  web/client/src/components/issueHeader/style.tsx
  web/client/src/containers/commentBox-container/index.tsx
  web/client/src/hooks/useAsync.ts
  web/client/src/lib/api.ts
  web/client/src/views/detail-issue.tsx
  web/client/src/views/detail-issue/index.tsx
  web/client/src/views/detail-issue/style.tsx
Labels: 0_Merge: Dev-Web, FE 💻, Feature 🎨

#262 feat : ⚡ user 목록 가져오기 api 추가
  web/server/src/routers/index.ts
  web/server/src/routers/sign-up.ts
  web/server/src/routers/user.ts
  web/server/src/services/user.service.ts
  web/server/src/types/user-dto.ts
Labels: 0_Merge: Dev-Web, BE 🧑🏻‍💻, Feature 🎨

#265 PR #259 리뷰사항 반영
  web/client/src/@types/issue.ts
  web/client/src/@types/milestone.ts
  web/client/src/components/issue-form/header/index.tsx
  web/client/src/components/issue-form/issueList/issueComp/index.tsx
Labels: 0_Merge: Dev-Web, FE 💻, Refactoring ✒

#264 IssueListCell 관련 레이아웃 문제와 Model 불필요 생성자 삭제
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/01.IssueScene/IssueListScene/IssueCellView/IssueCellView.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/IssueListScene/IssueCellView/IssueCellView.xib
  iOS/IssueTracker/IssueTracker/01.IssueScene/IssueListScene/IssueListViewController.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/ViewModel/IssueListViewModel.swift
  iOS/IssueTracker/IssueTracker/04.Models/Auth.swift
  iOS/IssueTracker/IssueTracker/04.Models/Issue.swift
  iOS/IssueTracker/IssueTracker/04.Models/Label.swift
  iOS/IssueTracker/IssueTracker/04.Models/Milestone.swift
  iOS/IssueTracker/IssueTracker/04.Models/Provider/IssueFilter.swift
  iOS/IssueTracker/IssueTracker/04.Models/Provider/IssueProvider.swift
  iOS/IssueTracker/IssueTracker/04.Models/Provider/LabelProvider.swift
  iOS/IssueTracker/IssueTracker/04.Models/Provider/MilestoneProvider.swift
  iOS/IssueTracker/IssueTracker/04.Models/Provider/UserProvider.swift
  iOS/IssueTracker/IssueTracker/04.Models/User.swift
Labels: 0_Merge: Dev-iOS, Refactoring ✒

#267 bottomSheet 위로 스크롤 시 blur 처리 구현
  iOS/IssueTracker/Base.lproj/Main.storyboard
  iOS/IssueTracker/IssueTracker/01.IssueScene/IssueDetailScene/BottomSheetViews/BottomSheetView.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/IssueDetailScene/IssueDetailViewController.swift
Labels: 0_Merge: Dev-iOS, Feature 🎨, iOS 🍎

#270 이슈 수정 로직 수정, 레이블 글자 색 개선
  iOS/IssueTracker/IssueTracker/01.IssueScene/IssueListScene/IssueCellView/IssueCellView.xib
  iOS/IssueTracker/IssueTracker/01.IssueScene/ViewModel/IssueDetailViewModel.swift
  iOS/IssueTracker/IssueTracker/02.LabelScene/View/LabelCell/LabelCellView.swift
  iOS/IssueTracker/IssueTracker/05.CustomUI/CellComponents/Label/LabelComponentView.swift
  iOS/IssueTracker/IssueTracker/05.CustomUI/LabelBadgeCellView.swift
Labels: 0_Merge: Dev-iOS, Bug 🐞, Feature 🎨, iOS 🍎

#273 merge 후 오류사항 수정
  iOS/IssueTracker/IssueTracker/05.CustomUI/CellComponents/Label/LabelComponentView.swift
Labels: 0_Merge: Dev-iOS, Bug 🐞

#274 프린트 문 삭제 및 주석 제거
  iOS/IssueTracker/IssueTracker/00.MainTabBarScene/MainTabBarController.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/DetailSelectionScene/DetailSelectionViewController.swift
  iOS/IssueTracker/IssueTracker/04.Models/Issue.swift
  iOS/IssueTracker/IssueTracker/04.Models/Provider/IssueFilter.swift
  iOS/IssueTracker/IssueTracker/04.Models/Provider/IssueProvider.swift
  iOS/IssueTracker/IssueTracker/04.Models/Provider/LabelProvider.swift
  iOS/IssueTracker/IssueTracker/04.Models/Provider/MilestoneProvider.swift
  iOS/IssueTracker/IssueTracker/04.Models/User.swift
  iOS/IssueTracker/IssueTracker/05.CustomUI/CellComponents/UserInfo/UserInfoComponentView.swift
  iOS/IssueTracker/IssueTrackerTests/Tests/MilestoneTests.swift
  iOS/IssueTracker/NetworkFramework/DataLoader.swift
  iOS/IssueTracker/NetworkFramework/ImageLoader.swift
Labels: 0_Merge: Dev-iOS, Refactoring ✒

#272 이슈 컴포넌트 스타일 변경
  web/client/src/components/issue-form/issueList/issueComp/index.tsx
  web/client/src/components/issue-form/issueList/issueComp/style.tsx
Labels: 0_Merge: Dev-Web, FE 💻, Feature 🎨

#269 [FE] Issue Detail Page API 연동
  web/client/src/components/commentBox/index.tsx
  web/client/src/components/issue-sidebar/sidebar/index.tsx
  web/client/src/components/issueHeader/index.tsx
  web/client/src/components/profile-image/index.tsx
  web/client/src/containers/commentBox-container/index.tsx
  web/client/src/contexts/issueDetailContext.tsx
  web/client/src/index.tsx
  web/client/src/lib/api.ts
  web/client/src/lib/asyncActionUtils.ts
  web/client/src/views/detail-issue/index.tsx
Labels: 0_Merge: Dev-Web, FE 💻, Feature 🎨

#271 Feature/web/label list page
  web/client/src/@types/label-form.ts
  web/client/src/components/label-editor/index.tsx
  web/client/src/components/label-editor/style.tsx
  web/client/src/components/label-row/index.tsx
  web/client/src/components/label-row/style.tsx
  web/client/src/components/label/index.tsx
  web/client/src/containers/label-create-box/index.tsx
  web/client/src/containers/label-row-container/index.tsx
  web/client/src/lib/api.ts
  web/client/src/lib/label-color.ts
  web/client/src/views/label/index.tsx
Labels: 0_Merge: Dev-Web, FE 💻, Feature 🎨

#275 [FE] API URL 은닉
  web/client/.gitignore
  web/client/src/lib/api.ts
Labels: 0_Merge: Dev-Web, FE 💻, Refactoring ✒

#285 Feature/web/label list page
  web/client/.gitignore
  web/client/src/@types/label-form.ts
  web/client/src/components/label-editor/index.tsx
  web/client/src/components/label-editor/style.tsx
  web/client/src/components/label-row/index.tsx
  web/client/src/components/label-row/style.tsx
  web/client/src/containers/label-create-box/index.tsx
  web/client/src/containers/label-list-header/index.tsx
  web/client/src/containers/label-row-container/style.tsx
  web/client/src/lib/api.ts
  web/client/src/lib/label-color.ts
Labels: 0_Merge: Dev-Web, FE 💻, Feature 🎨

#287 feat : ⚡ header style 변경 및 링크 추가
  web/client/src/components/auth/login.tsx
  web/client/src/components/header/index.tsx
  web/client/src/components/header/style.tsx
Labels: 0_Merge: Dev-Web, FE 💻, Feature 🎨

#280 이슈상세화면 댓글 time formatting 수정
  iOS/IssueTracker/IssueTracker/03.MilestoneScene/ViewModel/MilestoneItemViewModel.swift
  iOS/IssueTracker/IssueTracker/04.Models/Comment.swift
  iOS/IssueTracker/IssueTracker/04.Models/Provider/IssueFilter.swift
  iOS/IssueTracker/IssueTracker/04.Models/Provider/IssueProvider.swift
  iOS/IssueTracker/IssueTracker/05.CustomUI/CellComponents/Milestone/MilestoneComponentView.swift
  iOS/IssueTracker/IssueTracker/06.Extensions/String+Date.swift
Labels: 0_Merge: Release, HotFix 🚨, iOS 🍎

#281 hotfix: 이슈 상세화면 댓글 추가시 유저 프로필 적용
  iOS/IssueTracker/IssueTracker/01.IssueScene/ViewModel/IssueDetailViewModel.swift
  iOS/IssueTracker/IssueTracker/04.Models/Comment.swift
  iOS/IssueTracker/IssueTracker/04.Models/Provider/IssueProvider.swift
Labels: 0_Merge: Release, HotFix 🚨, iOS 🍎

#282 hotfix: BottomSheet TableView Scroll 수정
  iOS/IssueTracker/IssueTracker/01.IssueScene/IssueDetailScene/BottomSheetViews/BottomSheetView.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/IssueDetailScene/BottomSheetViews/BottomSheetView.xib
  iOS/IssueTracker/IssueTracker/01.IssueScene/IssueDetailScene/BottomSheetViews/ContentTableView/BottomSheetMilestoneView.xib
  iOS/IssueTracker/IssueTracker/01.IssueScene/IssueDetailScene/IssueDetailViewController.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/IssueListScene/IssueCellView/IssueCellView.xib
  iOS/IssueTracker/IssueTracker/01.IssueScene/ViewModel/IssueDetailViewModel.swift
  iOS/IssueTracker/IssueTracker/04.Models/Provider/IssueProvider.swift
Labels: 0_Merge: Release, HotFix 🚨, iOS 🍎

#283 hotfix: submitFormView Keyboard Animation
  iOS/IssueTracker/IssueTracker/05.CustomUI/SubmitForm/SubmitFormViewController.swift
Labels: 0_Merge: Release, HotFix 🚨, iOS 🍎

#284 hotfix: issueDetailVC 초기 BlurView alpha 값 수정
  iOS/IssueTracker/IssueTracker/01.IssueScene/IssueDetailScene/IssueDetailViewController.swift
Labels: 0_Merge: Release, HotFix 🚨, iOS 🍎

#288 fix : :fire: list에 key 값 추가 및 스타일 변경
  web/client/src/components/issue-form/header/index.tsx
  web/client/src/components/issue-form/issueList/index.tsx
  web/client/src/components/issue-form/issueList/issueComp/index.tsx
Labels: 0_Merge: Dev-Web, FE 💻

#289 Dev web
  web/client/.gitignore
  web/client/src/@types/label-form.ts
  web/client/src/components/auth/login.tsx
  web/client/src/components/header/index.tsx
  web/client/src/components/header/style.tsx
  web/client/src/components/issue-form/header/index.tsx
  web/client/src/components/issue-form/issueList/index.tsx
  web/client/src/components/issue-form/issueList/issueComp/index.tsx
  web/client/src/components/label-editor/index.tsx
  web/client/src/components/label-editor/style.tsx
  web/client/src/components/label-row/index.tsx
  web/client/src/components/label-row/style.tsx
  web/client/src/containers/label-create-box/index.tsx
  web/client/src/containers/label-list-header/index.tsx
  web/client/src/containers/label-row-container/style.tsx
  web/client/src/lib/api.ts
  web/client/src/lib/label-color.ts
Labels: 0_Merge: Dev

#286 hotfix: bottomSheet table view cell 조정
  iOS/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  iOS/IssueTracker/IssueTracker/01.IssueScene/IssueDetailScene/BottomSheetViews/BottomSheetView.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/IssueDetailScene/BottomSheetViews/ContentTableView/BottomSheetLabelCollectionView.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/IssueDetailScene/BottomSheetViews/ContentTableView/BottomSheetMilestoneView.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/IssueDetailScene/BottomSheetViews/ContentTableView/BottomSheetMilestoneView.xib
  iOS/IssueTracker/IssueTracker/01.IssueScene/IssueListScene/IssueCellView/IssueCellView.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/IssueListScene/IssueCellView/IssueCellView.xib
  iOS/IssueTracker/IssueTracker/01.IssueScene/IssueListScene/IssueListViewController.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/ViewModel/CommentViewModel.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/ViewModel/IssueDetailViewModel.swift
  iOS/IssueTracker/IssueTracker/01.IssueScene/ViewModel/UserViewModel.swift
  iOS/IssueTracker/IssueTracker/02.LabelScene/View/LabelCell/LabelCellView.swift
  iOS/IssueTracker/IssueTracker/02.LabelScene/View/SubmitFields/LabelSubmitFieldsView+LoadFromNib.swift
  iOS/IssueTracker/IssueTracker/02.LabelScene/View/SubmitFields/LabelSubmitFieldsView.swift
  iOS/IssueTracker/IssueTracker/03.MilestoneScene/SubmitFields/MilestoneSubmitFieldsView+LoadFromNib.swift
  iOS/IssueTracker/IssueTracker/03.MilestoneScene/SubmitFields/MilestoneSubmitFieldsView.swift
  iOS/IssueTracker/IssueTracker/05.CustomUI/ImageLoadable.swift
  iOS/IssueTracker/IssueTracker/05.CustomUI/LeftAlignedLabelCollection/BadgeLabelView.swift
  iOS/IssueTracker/IssueTracker/05.CustomUI/LeftAlignedLabelCollection/LabelBadgeCellView.swift
  iOS/IssueTracker/IssueTracker/05.CustomUI/LeftAlignedLabelCollection/LabelBadgeCellView.xib
  iOS/IssueTracker/IssueTracker/05.CustomUI/LeftAlignedLabelCollection/LeftAlignedBadgeFlowLayout.swift
  iOS/IssueTracker/IssueTracker/06.Extensions/UIColor+LabelTextColor.swift
Labels: 0_Merge: Release, HotFix 🚨, iOS 🍎

#290 release!!!
  web/client/.gitignore
  web/client/src/@types/label-form.ts
  web/client/src/components/auth/login.tsx
  web/client/src/components/header/index.tsx
  web/client/src/components/header/style.tsx
  web/client/src/components/issue-form/header/index.tsx
  web/client/src/components/issue-form/issueList/index.tsx
  web/client/src/components/issue-form/issueList/issueComp/index.tsx
  web/client/src/components/label-editor/index.tsx
  web/client/src/components/label-editor/style.tsx
  web/client/src/components/label-row/index.tsx
  web/client/src/components/label-row/style.tsx
  web/client/src/containers/label-create-box/index.tsx
  web/client/src/containers/label-list-header/index.tsx
  web/client/src/containers/label-row-container/style.tsx
  web/client/src/lib/api.ts
  web/client/src/lib/label-color.ts
Labels: 0_Merge: Release
